<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Produk</title>
</head>
<body>
    <section layout:fragment="content">
        <h2>Daftar Produk</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Kode Produk</th>
                    <th>Nama Produk</th>
                    <th>Harga</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p,stat : ${productData}">
                    <td th:text="${stat.count}">1</td>
                    <td th:text="${p.code}">P-001</td>
                    <td th:text="${p.name}">Produk 001</td>
                    <td th:text="${p.price}">Rp. 100.001</td>
                    <td>
                        <a th:href="@{form(id=${p.id})}">edit</a>
                    </td>
                </tr>
                
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>